<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="/public/img/icon.webp" alt="logo">
            </span>

            <div class="text logo-text">
                <span class="name">Stoklab</span>
                <span class="profession">Gerenciador de Estoque</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <a href="#">
                    <i class='bx bx-search-alt-2 icon' ></i>
                    <input type="search" placeholder="Search...">
                </a>
            </li><!--=== nav-link ===-->
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-home icon'></i>
                        <span class="text nav-text">
                            Dashboard
                        </span>
                    </a>
                </li><!--=== nav-link ===-->
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">
                            Revenue
                        </span>
                    </a>
                </li><!--=== nav-link ===-->
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">
                            Notifications
                        </span>
                    </a>
                </li><!--=== nav-link ===-->
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">
                            Analytics
                        </span>
                    </a>
                </li><!--=== nav-link ===-->
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-heart icon'></i>
                        <span class="text nav-text">
                            Likes
                        </span>
                    </a>
                </li><!--=== nav-link ===-->
                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-wallet icon'></i>
                        <span class="text nav-text">
                            Wallet
                        </span>
                    </a>
                </li><!--=== nav-link ===-->
            </ul><!--=== menu-links ===-->
        </div><!--=== menu ===-->

        <div class="bottom-content">
            <li class="">
                <a href="#">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">
                        Logout
                    </span>
                </a>
            </li><!--===  ===-->
            <li class="mode">
                <div class="moon-sun">
                    <i class="bx bx-moon icon moon"></i>
                    <i class="bx bx-sun icon sun"></i>
                </div><!--=== moon-sun ===-->
                <span class="mode-text text">Dark Mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div><!--=== toggle-switch ===-->

            </li><!--=== mode ===-->
        </div><!--=== bottom-content ===-->
    </div><!--=== menu-bar ===-->
</nav>